@import "tailwindcss";

@layer base, components, utilities;

@theme {
  --breakpoint-sm: 968px;
  --breakpoint-md: 1025px;
  --breakpoint-lg: 1040px;
  --breakpoint-xl: 1040px;
  --breakpoint-2xl: 1040px;

  /* Cores */
  --background:#FFFFFF;
  --color-white: #FFFFFF;
  --color-black: #000000;

  --color-primary-100: rgba(51, 204, 153, 1);
  --color-primary-75: rgba(51, 204, 153, 0.75);
  --color-primary-40: rgba(51, 204, 153, 0.4);
  --color-primary-15: rgba(51, 204, 153, 0.15);
  --color-primary-10: rgba(51, 204, 153, 0.1);

  --color-secondary-100: rgba(255, 139, 61, 1);
  --color-secondary-75: rgba(255, 139, 61, 0.75);
  --color-secondary-40: rgba(255, 139, 61, 0.4);
  --color-secondary-15: rgba(255, 139, 61, 0.15);

  --color-tertiary-100: rgba(5, 37, 59, 1);
  --color-tertiary-75: rgba(5, 37, 59, 0.75);
  --color-tertiary-40: rgba(5, 37, 59, 0.4);
  --color-tertiary-15: rgba(5, 37, 59, 0.15);

  --color-asset-100: rgba(153, 255, 0, 1);
  --color-asset-75: rgba(153, 255, 0, 0.75);
  --color-asset-40: rgba(153, 255, 0, 0.4);
  --color-asset-15: rgba(153, 255, 0, 0.15);

  --color-neutral-100: #080B12;
  --color-neutral-90: #1A1A1A;
  --color-neutral-80: #374151;
  --color-neutral-70: #4B5563;
  --color-neutral-60: #6B7280;
  --color-neutral-50: #9CA3AF;
  --color-neutral-40: #D1D5DB;
  --color-neutral-35: #E2E4E9;
  --color-neutral-30: #F3F4F6;
  --color-neutral-20: #F5F5F5;
  --color-neutral-10: #F9FAFB;
  --color-neutral-0: #FEFEFE;

  --color-info-60: #2A89EF;
  --color-info-60: #EFF9FF;


  --color-success-60: #34BE15;
  --color-success-20: #D9F2D0;

  --color-warning-60: #F9C310;
  --color-warning-20: #FEEECF;

  --color-error-60: #E61E32;
  --color-error-20: #FFE4E7;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

@utility hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--background);
  color: var(--color-neutral-60);
}